<ion-header>
        <ion-toolbar color="success">
            <ion-buttons  slot="start">
                <ion-menu-button>
    
                </ion-menu-button>
            </ion-buttons>
            <ion-title>
                О приложении
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content padding>
    Самое лучшее приложение 
    </ion-content>