<ion-header>
   <ion-toolbar color="warning">
       <ion-buttons slot="start">
           <ion-back-button>

           </ion-back-button>
       </ion-buttons>
       <ion-title>
           Выбор даты
       </ion-title>
   </ion-toolbar> 
</ion-header>
<ion-content>

</ion-content>