<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button>

            </ion-menu-button>
        </ion-buttons>
        <ion-title>
            Сейчас в эфире
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>